
.featured_image {
  width: 100%;
}

#logo{
    position: absolute;
    top:50px;
    left: 30px;
}

h1{
  font-family: 'Domine', Helvetica, Arial, sans-serif;
  font-size: 50px;
  text-align: left;
}

#container{
  width: auto;
  margin: 0, auto, 0, 0;
  margin-bottom: 5%;
}

#sidebar {
	width: 30%;
  float: right;
  clear: all;
	border-left: 3% solid #000000;
	padding-left: 20px;
	padding-right: 20px;
}

#login li{
    float:right;
}


#nav1 li {
	float: left;
}

#nav1 a:link, #nav a:visited {
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding: 4px 0px;
	color: #000000;
	background-color: #f1b41d;
	display: block;
	width: 100px;
  background-color: white;
  padding:3px 0;
}

#nav1 a:hover, #nav a:active {
	background-color: white;
  color: black;
}


#nav li {
	float: left;
  font-size: 14px;
  padding-top:7px;

}

#nav a:link, #nav a:visited {
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding: 6px 0px;
	color: #ffffff;
	background-color: #f1b41d;
	display: block;
	width: 190px;
  float: right;
}

#nav a:hover, #nav a:active {
  background-color: white;
  color: black;
}


#Missourian{
  font-weight: bold;
  color: #ffffff;
  text-align: left;

}

#stories{
    text-align: right;
    font-weight: bold;
    color: black;
}
#headline{
    text-align: center;
}

ul{
    list-style-type: none;
	margin: 0;
	padding: 0;
}



#quiz{
    position: absolute;
    left: 0%;
    display: block;
    width: 250px;
    height: 100px;
    padding: 4px 4px 4px 4px;
}
#fastfive{
    position: absolute;
    left: 25%;
    display: block;
    width: 250px;
    height: 100px;
    padding: 4px 4px 4px 4px;
}
#lineup{
    position: absolute;
    left: 50%;
    display: block;
    width: 250px;
    height: 100px;
    padding: 4px 4px 4px 4px;
}
#more{
    display: block;
    position: absolute;
    left: 75%;
    width: 250px;
    height: 100px;
    padding: 4px 4px 4px 4px;
}


.storiesimage {
  width: 50%;
}

.scheduleimage {
  width: 90%;

}
