
.featured_image {
  width: 100%;
}

#logo{
    position: absolute;
    top:50px;
    left: 30px;
}

title{
    clear: both;
    float: left;
}












h1{
  font-family: 'Domine', Helvetica, Arial, sans-serif;
  font-size: 50px;
  text-align: left;
}
.menu-trigger{
  order: 1;
  background-color: #f1b41d;
}
header{
  background-color: #f1b41d;
  margin: 0;
  padding: 0 10px;
  flex-flow: row;
  display: flex;
}

/*sidebar font*/
h2{
font-family: 'Domine', Helvetica, Arial, serif;
font-size: 18px;

}

/*headline font*/
h3{
  font-family: 'Domine', Helvetica, Arial, serif;
  font-size: 30px;
  text-align: center;
}

/*subhead font*/
h4{
  font-family: 'Domine', Helvetica, Arial, serif;
  font-size: 16px;
  text-align: center;
}

/*byline font*/
h5{
  font-family: 'Open sans', Helvetica, Arial, serif;
  font-size: 12px;
  text-align: center;
  color: blue;
  text-transform: uppercase;
}

/*body text font*/
h6{
    font-family: 'Domine', Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-align: left;
  }

#headline{
  text-align: left;
}

#container{
  width: 100%;
  margin: 0, auto, 0, 0;
  margin-bottom: 5%;
}

/* KEEP THIS COMMENTED OUT FOR NOW thx     #sidebar {
	width: 30%;
  float: right;
  clear: all;
	border-left: 3% solid #000000;
	padding-left: 3%;
	padding-right: 3%;
}*/

#login li{
    float:right;
}




#nav a:visited {

  flex-flow: row;
  font-size: 16px;
	text-decoration: none;
	padding: 4px 0px;
	color: #000000;
	background-color: #f1b41d;
	display: flex;
	width: 250px;
  background-color: white;
  padding: 3px 0;
}

#nav a:active {
  flex-flow: row;
  background-color: white;
  color: black;
  display: flex;
}

#nav {
	width: 100%;
  display: flex;
	flex-flow: column;

	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #f1b41d;
	 }

#nav li {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0%;
  width: 100%;
}

#nav a:link, #nav a:visited {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding: 6px 0px;
	color: #ffffff;
	background-color: #f1b41d;
	display: block;
  text-align: center;
}

#nav a:hover, #nav a:active {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	float: left;
}

#nav a:link, #nav a:visited {
 font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
 float: center;
 text-align: center;
 font-size: 14px;
 text-decoration: none;
 display: block;
 width: 200px;
 padding: 6px;
 color: black;
 background-color: #f1b41d;
 margin: 0%;
font-weight: bold;
/*border-right: 1px solid #ccc;*/ }

#nav li a:hover, #nav a:active {
	  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
}

#Missourian{
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-align: center;

}

#stories{
    text-align: right;
    font-weight: bold;
    color: black;
}
#headline{
    text-align: center;
}


ul{
    list-style-type: none;
	margin: 0;
	padding: 0;
}

#quiz{
    position: absolute;
    left: 0%;
    display: block;
    width: 250px;
    height: 30px;
    padding: 4px 4px 4px 4px;
}
#fastfive{
    position: absolute;
    left: 25%;
    display: block;
    width: 250px;
    height: 100px;
    padding: 4px 4px 4px 4px;
}
#lineup{
    position: absolute;
    left: 50%;
    display: block;
    width: 250px;
    height: 100px;
    padding: 4px 4px 4px 4px;
}
#more{
    display: block;
    position: absolute;
    left: 75%;
    width: 250px;
    height: 100px;
    padding: 4px 4px 4px 4px;
}


.storiesimage{
  width: 100%;
}

.scheduleimage{
  width: 100%;
  padding-top: 7%;
}
#footer {
    left: 0; bottom: 0;
    padding: 5px;
    background: #f1b41d;
    color: #fff;
    width: 100%;
   }

   @media screen and (min-width:700px){
     #nav{
     display: flex;
     flex-flow: row;
   }

   nav ul li{
     border-top: none;
     flex-flow: row;
   }
   .menu-trigger{
     display: none;
     order:1;
   }

   nav {
     order: 3;

   }

   header{
   order: 2;
   }

   /*Tiger Kickoff*/
   h1{
     font-family: 'Domine', Helvetica, Arial, sans-serif;
     font-size: 50px;
     text-align: left;
   }
   .menu-trigger{
     order: 1;
   }
   header{
     background-color: #f1b41d;
     margin: 0;
     padding: 0 10px;
     flex-flow: row;
     display: flex;
   }
   }
   .search{
     margin: 50px auto;
     width: 100px;
     height: 50px;
     padding-left: 50px;
   }
